.slide { max-width: 700px; }
.img-slide-6 img { /* OCTOBER 9 */
  margin-bottom: 0;
}

.img-slide-10 img {
  margin-top: 2em;
}
.img-slide-0 img { /* please */
  margin-top: 2em;
}
.img-slide-11 img { /* me */
  margin-top: 2em;
}

.on-slide-0,.on-slide-1 {
}
.mgroup img {
  width: 500px;
}
.img-header img {
  width:300px;
  position:absolute;
  left: 0;
}

.img-tree {
  position:absolute;
  z-index:-1;
}
.img-header {
  z-index:9;
}

body{
  font: 20px/1.4em helvetica;
  background-color: #fff;
}

p {
  text-align: center;
}

/* FOOTNOTES/LINKS */
.slide .link a img {
  opacity: 0.6;
  -webkit-transition: all 0.1s ease-out;
}
.slide .link a:hover img {
  opacity: 1.0;
  -webkit-transition: all 0.1s ease-out;
}

aside.footnote {
  width: 80px;
  height: 97px;
  background-image: url(../comic/read_up/fn1.png);
  -webkit-transition: all 0.1s ease-out 0.8s;
  -moz-transition: all 0.1s ease-out 0.2s;
  transition: all 0.1s ease-out 0.2s;
  opacity: 0.0;
}
.deck-current aside.footnote {
  opacity: 0.4;
}
aside.footnote:hover {
  -webkit-transition: all 0.1s ease-out 0.2s;
  -moz-transition: all 0.1s ease-out 0.2s;
  transition: all 0.1s ease-out 0.2s;
  background-image: url(../comic/read_up/fn2.png);
  opacity: 1.0;
  cursor: pointer;
}
aside.footnote div {
  position: relative;
  left: 80px;
  display: none;
}
aside.footnote:hover div {
  display: block;
}

#fn-1 {
  position: absolute;
  right: 0;
  top: 0px;
  opacity: 0;
}
.deck-current #fn-1 {
  top: 200px;
  opacity: 0.4;
}
.deck-current #fn-1:hover {
  opacity: 1.0;
}

/* CUSTOM */
.img-transition img {
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
}

.deck-current .img-transition img {
  opacity: 1.0;
}

.medium-delay img {
  -webkit-transition-delay: 0.2s;
}
.long-delay img {
  -webkit-transition-delay: 0.4s;
}
.lll-delay img {
  -webkit-transition-delay: 1.4s;
}
.llll-delay img {
  -webkit-transition-delay: 1.8s;
}

.ll-delay img {
  -webkit-transition-delay: 1s;
}

/* READ UP */
#ru-9a-2 img {
  margin-top: -16%;
}

#ru-9a img {
  position: relative;
  margin-top: -16%;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out 0.3s;
}

.deck-current #ru-9a img {
  top: 0px;
  opacity: 1.0;
}

#ru-9c img {
  margin-top: -6%;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out 0.3s;
}


.deck-current #ru-9c img {
  opacity: 1.0;
}
